@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Rubik+Puddles&display=swap');

.root {
    -fx-base-dark: #0D1117;
    -fx-login-card-bg: #111827;
    -fx-login-info-bg: #0F1923;
    -fx-accent-darker-red-text: #8B2D2F;
    -fx-accent-lighter-red-text: #CB443E;
    -fx-white-text: #E8E6E9;
    -fx-gray-text: #6B7280;
}

.main-bg{
    -fx-background-color: -fx-base-dark;
}

.HomePage-left-bg {
    -fx-background-color: #192037;
}

.HomePage-right-bg {
    -fx-background-color: #263a79;
}

.login-card{
    -fx-background-color: -fx-login-card-bg;
    -fx-background-radius: 15 0 0 15;
    -fx-padding: 70 40 0 40; /* Top Right Down Left */
}

.login-info-card{
    -fx-background-color: -fx-login-card-bg;
    -fx-background-radius: 0 15 15 0;
}

/* login desc */
.brand-label {
    -fx-font-family: 'Bebas Neue';
    -fx-text-fill:-fx-accent-lighter-red-text;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 0;
}

.text-header{
    -fx-font-family: 'Bebas Neue';
    -fx-text-fill: -fx-white-text;
    -fx-font-weight: bold;
}

.gym-name-header{
    -fx-font-size: 38px;

}


.welcome-header {
    -fx-padding: -5 0 0 0;
    -fx-font-size: 28px;
}

.sub-header {
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-text-fill:-fx-gray-text;
    -fx-font-size: 16px;
}

.sub-header-title{

}


/* login part */

.text-field-login, .password-field-login {
    -fx-background-color: #1F2937;
    -fx-background-radius: 8;
    -fx-border-color: #374151;
    -fx-border-radius: 8;
    -fx-text-fill: -fx-white-text;
    -fx-font-family: 'Inter';
    -fx-padding: 10 15 10 15;
    -fx-prompt-text-fill: #4B5563;
}

.text-field-login:hover, .password-field-login:hover {
    -fx-background-color: #243040;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 14, 0.3, 0, 2);
}

.text-field-login:focused, .password-field-login:focused {
    -fx-background-color: #243040;
    -fx-border-color: -fx-gray-text;
    -fx-border-width: 1.5;
    -fx-effect: -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 14, 0.3, 0, 2);
}

.text-field-login{
    -fx-font-size: 16px;

}

.password-field-login{
    -fx-font-size: 10px;
}






.text-field-login,
.password-field-login {
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

/* only when error is added */
.text-field-login.error,
.password-field-login.error {
    -fx-border-color: -fx-accent-lighter-red-text;
    -fx-border-width: 2px;
}

.error-label {
    -fx-text-fill: -fx-accent-lighter-red-text;
    -fx-font-family: 'Inter';
    -fx-opacity: 1;
}

.error-label-visible {
    -fx-opacity: 1.0;
    -fx-transition: opacity 0.3s ease-in;
}


 .check-box {
     -fx-text-fill: #6B7280;
     -fx-font-family: 'Inter';
     -fx-font-size: 16px;
     -fx-cursor: hand;

 }

 .check-box .box {
     -fx-background-color: #1F2937;
     -fx-border-color: #374151;
     -fx-border-radius: 3;

 }

 .check-box:selected .box {
     -fx-background-color: -fx-accent-lighter-red-text;
     -fx-border-color: -fx-accent-lighter-red-text;
 }

 .check-box:selected .mark {
     -fx-background-color: white;
     -fx-shape: "M1.23,3.32 l2,2 l4.5,-4.5";
 }

 .forgot-link {
     -fx-text-fill: -fx-accent-lighter-red-text;
     -fx-font-family: 'Inter';
     -fx-font-weight: bold;
     -fx-cursor: hand;
 }


 .forgot-link:hover {
     -fx-underline: true;
 }


/* submit btn*/
.button {
    -fx-background-color: -fx-accent-lighter-red-text;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    /* Vertical padding makes the button taller/thicker */
    -fx-padding: 12 0 12 0;
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: derive(#E05252, -8%);
    -fx-effect: dropshadow(gaussian, rgba(224, 82, 82, 0.35), 12, 0.4, 0, 0);
}

.button:pressed {
    -fx-background-color: derive(#E05252, -10%);
    -fx-effect: dropshadow(gaussian, rgba(224, 82, 82, 0.15), 6, 0.3, 0, 0);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

/* info part */

.circle-color{
    -fx-background-color: #1a1c25;
}

